@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-white text-black dark:bg-zinc-950 dark:text-white;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4e4d4d; /* màu chính */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636ebb;
  cursor: pointer;
}
