@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-white text-black dark:bg-zinc-950 dark:text-white;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4e4d4d; /* màu chính */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636ebb;
  cursor: pointer;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.6);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(34, 197, 94, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.animate-pulseGlow {
  animation: pulseGlow 2.5s infinite;
}
